*,
*:after,
*:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

* {
  /* border: 1px solid red; */
  font-family: 'Open Sans', sans-serif;
}

/* Don't edit */
main {
  display: flex;
}

/* Don't edit */
article {
  width: 50%;
}

/* KAREN */
h2 {
  font-size: 20px;
  margin-bottom: auto;
  padding: 8px 0 0 0;
}

.set-range-header {
  margin-left: 10px;
}

.left-side {
  background-color: #f7f7f7;
}

.set-range {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 2% 10px;
}

.range-border {
  border: 1px solid #d0d2d3;
  background-color: #ffffff;
  margin: 2% 2%;
}

.range-textbox {
  width: 130px;
  height: 25px;
  margin: 0 10px 0 0;
}

.set-range-paragraph {
  margin: auto;
  height: 35px;
}

#update-button {
  width: 130px;
  height: 35px;
  border-radius: 20px;
  margin-top: auto;
  background-color: #6e6e6e;
  color: #ffffff;
}

#min-range, #max-range {
  font-weight: 700;
  text-decoration: underline;
}

.player-box {
  padding: 2% 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.name-paragraph {
  margin: auto;
}

.guess-paragraph {
  margin: auto;
  padding-top: 57px;
}

.guess2-paragraph {
  margin: auto;
  padding-top: 35px;
}

.challenger-header {
  margin: auto;
}

.name-and-guess-paragraph {
  margin: auto;
}

.challenger-header{
  margin: auto;
}

.name-textbox {
  width: 260px;
  height: 30px;
}

.guess-textbox {
  width: 150px;
  height: 30px;
  margin: 0 0 0 10px;
}

.player-box-buttons {
  display: flex;
  justify-content: space-between;
  padding: 2%;
}

#submit-guess-button {
  width: 130px;
  height: 35px;
  border-radius: 20px;
  margin-top: auto;
  background-color: #6e6e6e;
  color: #ffffff;
}

#reset-game-button, #clear-game-button {
  background-color: #6e6e6e;
  width: 130px;
  height: 35px;
  border-radius: 20px;
  margin-top: auto;
  color: #ffffff;
}

#reset-game-button:disabled, #clear-game-button:disabled {
  background-color: #d0d2d3;
}

.player-box-border {
  border: 1px solid #d0d2d3;
  margin: 2% 2%;
  background-color: #ffffff;
}

.latest-score-header {
 margin: 2% 10px;
}

.challenger1-guess {
  text-align: center;
}

.challenger2-guess {
  text-align: center;
}

.guess-boxes {
  display: flex;
  justify-content: space-around;
}

.guess-box-line {
  border: 1px solid #d0d2d3;
}

#challenger1-number, #challenger2-number {
  font-size: 90px;
  font-weight: 700;
  text-shadow: 2px 0 #dd1972 ;
  color: #dd1972;
  margin: auto;
}

.challenger-name {
  margin: auto;
  font-size: 20px;
}

.current-guess {
  margin: auto;
}

.latest-score {
  border: 1px solid #d0d2d3;
  margin: 2% 2%;
  background-color: #ffffff;
}

/* KAYLA */
.right-side {
 border: solid #6E6E6E;
 border-width: 0 0 0 2px;
}

header {
  text-align: center;
  background-color: #404041;
  padding: 0 0 15px 0;
  margin: 0;
}

h1 {
  color: #DD1972;
  margin: 0;
}

.number-title {
  font-weight: 700;
  font-size: 200%;
  text-shadow: 5px 0 #DD1972;
  letter-spacing: 2px;
}

.guesser-title {
  font-weight: 300;
  font-size: 200%;
}

.sub-header {
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.sub-header-text {
  color: #D1D2D4;
  font-size: 21px;
  margin: 0 10px;
}

.sub-header-line {
  border: solid #D1D2D4;
  border-width: 2px 0 0 0;
  width: 100px;
  height: 8px;
}
/* Needs MQ for header at 475 */


.right-side {
 background-color: #D1D2D4;
}

.card {
background-color: #FFFFFF;
margin: 4% 8%;
text-align: center;
color: #6E6E6E;
border: 2px solid #6E6E6E;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.challenger1-name,
.challenger2-name {
  font-weight: 700;
  margin: 4px;
  text-shadow: 1px 0 #6E6E6E;
  letter-spacing: .8px;
}

.card-line {
  border: 1px solid #D1D2D4;
  margin: 0 5px;
}

.winner-name {
  font-size: 26px;
  font-weight: 700;
  margin: 0;
  padding: 10px 0 0 0;
  text-shadow: 1.8px 0 #6E6E6E;
  letter-spacing: 2px;
}

.card-winner-label {
  font-weight: 300;
  font-size: 26px;
  margin: 0;
  padding: 0 0 10px 0;
}

.card-footer {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  align-items: center;
}

.close-button {
  background-color: #6E6E6E;
  border: none;
  border-radius: 100%;
  width: 30px;
  height: 30px;
  color: #D1D2D4;
  font-size: 22px;
  font-family: 'Varela Round', sans-serif;
  font-weight: 600;
}

#number-of-guesses {
  font-weight: 700;
  text-shadow: .8px 0 #6E6E6E;
  letter-spacing: 1px;
}

@media screen and (max-width: 870px) {
  main {
    display: block;
  }

  .left-side, .right-side {
    width: 100%;
  }

  .header {
    width: 100%;
  }

  h1 {
    width: 100%;
  }

  .number-title, .guesser-title {
    font-size: 200%;
    text-shadow: none;
  }

  .sub-header-text {
    font-size: 100%;
  }

  .sub-header-line {
    width: 15%;
  }
}

@media screen and (max-width: 425px) {

  .player-box, .guess-boxes, .set-range {
    flex-direction: column;
    justify-content: center;
  }

  .guess-paragraph, .guess2-paragraph {
    padding: 0;
  }

  main {
    display: block;
  }

  .left-side, .right-side {
    width: 100%;
  }

  .player-box-buttons {
    flex-direction: column;
    align-items: center;
    margin: auto;
    width: 300px;
  }

  #reset-game-button, #clear-game-button, #submit-guess-button {
    width: 100%;
    margin: 3px;
  }

  #update-button {
    margin: 3px;
  }

  .textbox {
    width: 100%;
    margin: 0;
  }

  .header {
    width: 100%;
  }

  h1 {
    width: 100%;
  }

  .number-title, .guesser-title {
    font-size: 100%;
    text-shadow: none;
  }

  .sub-header-text {
    font-size: 50%;
  }

  .sub-header-line {
    width: 20%;
  }
};
